TWITCH_BOT_NICK=
TWITCH_OAUTH=
TWITCH_CHANNEL=mysticggx

UNITY_HOST=127.0.0.1
UNITY_PORT=5055
UNITY_TRANSPORT=udp

USE_LOCAL_LLM=true
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen3:4b
LLM_TIMEOUT_SECONDS=20

VOTE_DURATION_SECONDS=60
AUTO_POLL_INTERVAL_SECONDS=600
EMPTY_POLL_POLICY=do_nothing
CHAT_TIPS_INTERVAL_SECONDS=180
WELCOME_ON_START=true

GLOBAL_COMMAND_COOLDOWN_SECONDS=30
USER_COMMAND_COOLDOWN_SECONDS=120

DB_PATH=stream_bot.sqlite3
